@media only screen and (min-height: 830px) {

  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar
  {
    width: 12px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }

}

* {
  margin: 0;
  padding: 0;
}

p { margin-top: 15px; font-family: "Work Sans"; font-size: 18px; font-weight: 400; line-height: 1.6em; text-align: center;}
span { font-family: Karla; font-size: 16px; font-weight: 400; letter-spacing: 0px; line-height: 1.38em; text-align: center;}
h1, h2, h3{ font-family: Futura,sans-serif; font-style: normal; font-weight: 600; font-size: 1.875em; text-align: center; margin-top: 15px; margin-bottom: 15px;}
<<<<<<< HEAD
h4, h5, h6{ font-family: Futura,sans-serif; font-style: normal; font-weight: 600; text-align: center; margin-top: 15px;}
=======
h4, h5, h6{ font-family: Futura,sans-serif; font-style: normal; font-weight: 600; text-align: center; margin-top: 15px; margin-bottom: 15px;}
>>>>>>> 745163d4e4fbeed5380fe7f5e891f1be5bc9479c

html,body{
  font-size: 16px;
  font-family: Karla,sans-serif;
  font-style: normal;
  font-weight: 400;
/*  color: #666;*/
  line-height: 1.375;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
main{
  height: auto;
  margin: auto;
  width: 100%;
}
main section{
  width: 85%;
  margin: auto;
}

main section h2{
  text-align: center;
}
main section section{
  margin-top: 40px;
  margin-bottom: 40px;
}

/*******************************************/
                  /*Header*/
/*******************************************/
header{
  margin: auto;
  width: 100%;
}

/*******************************************/
              /*Navigation Bar*/
/*******************************************/

/* nav toggle */
.nav-drawer {
  cursor: pointer;
  height: 2rem;
  position: relative;
  width: 2.3rem;
  z-index: 2;
}
.nav-drawer:hover {
  opacity: 0.8;
}
.nav-drawer .nav-drawer-bar,
.nav-drawer .nav-drawer-bar::after,
.nav-drawer .nav-drawer-bar::before {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #e9b9b9;
  content: "";
  height: 0.25rem;
  transition: all 0.5s;
  width: 100%;
  margin-left: -14.5px;
  left: 14.5px;
}
.nav-drawer .nav-drawer-bar {
  margin-top: 0;
}
.nav-drawer .nav-drawer-bar::after {
  margin-top: 0.8rem;
}
.nav-drawer .nav-drawer-bar::before {
  margin-top: -0.8rem;
}
.nav-drawer.expanded .nav-drawer-bar {
  background: transparent;
}
.nav-drawer.expanded .nav-drawer-bar::after, .nav-drawer.expanded .nav-drawer-bar::before {
  background: #e9b9b9;
  margin-top: 0;
}
.nav-drawer.expanded .nav-drawer-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-drawer.expanded .nav-drawer-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

nav:nth-of-type(1){
  background: white;
  -webkit-box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.4);
  -moz-box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.4);
  box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.4);
  color: black;
  cursor: pointer;
  font-size: 2rem;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  z-index: 1;
}

nav:nth-of-type(1) ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 15px 5px 0px 5px;
}
nav:nth-of-type(1) ul li{
  height: auto;
  color: white;
  margin: 0 auto;
}

nav:nth-of-type(1) ul li:nth-of-type(3) a img{
  margin: 10px;
  width: 22px;
  height: 22px;
}
/*******************************************/
            /*Hamburger Menu*/
/*******************************************/

nav:nth-of-type(2){
  background: white;
  -webkit-box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.4);
  -moz-box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.4);
  box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.4);
  color: black;
  cursor: pointer;
  font-size: 2rem;
  height: 100%;
  left: -25rem;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  width: 20rem;
  z-index: 1;
  text-align: left;
}
nav:nth-of-type(2).expanded{
  left: 0;
}
nav:nth-of-type(2) a{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
nav:nth-of-type(2) ul:nth-child(1){
  list-style: none;
  margin-top: 4rem;
  padding: 0;
}
nav:nth-of-type(2) ul li{
  height: auto;
  color: white;
  list-style-type: none;
  margin: 0 auto;
  padding: 0 0 20px 0;
  display: block;
  width: auto;
}
[data-toggle-menu] div{
  float: right;
  padding: 0 20px;
}
[data-toggle-menu] div button{
  width: 20px;
}
[data-toggle-menu] div button svg{
  fill:none;
  stroke:#000000;
  stroke-width:40;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}
[data-toggle-menu].expanded div button svg line:nth-of-type(1){
  visibility: hidden;
}
[data-toggle-menu] ul{
  max-height: 0;
  transition: max-height 0.4s ease-out;
  overflow: hidden;
}
[data-toggle-menu].expanded ul{
  max-height: 500px;
  transition: max-height 0.4s ease-in;
}
nav:nth-of-type(2) ul li form{
  padding-top: 20px;
}
nav:nth-of-type(2) ul li form input{
  font-size: 0.65em;
  padding: 10px 0 10px 20px;
  width: 80%;
}
nav:nth-of-type(2) ul li form button img{
  width: 20px;
  height: auto;
}
nav:nth-of-type(2) ul li a{
  font-weight: bold;
  font-style: normal;
  font-size: 26px;
  color: black;
  text-align: left;
  padding: 18px;
  text-decoration: none;
}
nav:nth-of-type(2) ul li a:hover{
  background-color: #FFF;
  color: black;
}
nav:nth-of-type(2) ul li ul li{
  clear:both;
  border:0 none;
  background: inherit;
  padding: 0px;
}
nav:nth-of-type(2) ul li ul li a{
  font-weight: 400;
  color: #666;
  font-size: 0.5em;
  padding: 0px 20px;
}
nav:nth-of-type(2) ul li a img{
  width: 9px;
  height: 6px;
  margin-left: 5px;
  margin-bottom: 2px;
}

/*Nightmode Slider*/

nav:nth-of-type(2) ul li label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
  right: 20px;
}

nav:nth-of-type(2) ul li label input {
  opacity: 0;
  width: 0;
  height: 0;
}

nav:nth-of-type(2) ul li label span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

nav:nth-of-type(2) ul li label span:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .round {
  background-color: #2196F3;
}

input:focus + .round {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

nav:nth-of-type(2) ul li label span.round {
  border-radius: 34px;
}

nav:nth-of-type(2) ul li label span.round:before {
  border-radius: 50%;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  max-height: ;
}

/* Next & previous buttons */
.prev, .next {
  text-align: left;
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slideshow-container article section {
  position: absolute;
  top: 8px;
  padding: 0 20px;
}
.slideshow-container article section h1 {
  font-size: 2.6em;
  line-height: 1;
  text-align: left;
}

/* Caption text */
.slideshow-container article section h1 span {
  text-align: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  line-height: inherit;
}

/* Caption text */
.slideshow-container article:nth-of-type(3) section a {
  padding: 8px 20px;
  font-size: 13px;
  text-decoration: none;
  background-color: transparent;
  padding: 15px 20px 15px 20px;
  border-radius: 4px;
  border-color: black;
  border-width: 1.5px;
  border-style: solid;
  font-family: Work Sans
  letter-spacing: 0.15em;
  opacity: 1;
}

.slideshow-container article:nth-of-type(2) section a{
  padding: 8px 20px;
  font-size: 13px;
  text-decoration: none;
  background-color: black;
  padding: 15px 20px 15px 20px;
  border-radius: 4px;
  border-color: white;
  border-width: 1.5px;
  border-style: solid;
  font-family: Work Sans
  letter-spacing: 0.15em;
  opacity: 1;
}

.slideshow-container article:nth-of-type(1) section a{
  padding: 8px 20px;
  font-size: 13px;
  text-decoration: none;
  background-color: black;
  padding: 15px 20px 15px 20px;
  border-radius: 4px;
  border-color: black;
  border-width: 1.5px;
  border-style: solid;
  font-family: Work Sans
  letter-spacing: 0.15em;
  opacity: 1;
}

.slideshow-container article section a span{
  color: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.slideshow-container section {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

input, textarea, select, button{
  background-color: transparent;
  color: #333;
  border: 0;
  /*max-width: 100%;*/
}

/*3 foto's introductie*/
.order-row{
  margin-top: 5%;
  display: flex;
}

.order-row div{
  padding: 10px;
  flex-direction: row;
  text-align: center;
}

.order-row div img{
  height: 90px;
  width: 90px;
}

.order-row div h3{
  font-size: 13px;
  color: #444444;
  letter-spacing: 1px;
  line-height: 1.38em;
  margin-top: 0;
}

.order-row div p{
  font-size: 8px;
}

main section:nth-of-type(1){
  margin-bottom: 15%;
}

main section:nth-of-type(1){
  font-size: 18px;
  letter-spacing: 0.8px;;
}

main section:nth-of-type(1) h1, main section:nth-of-type(2) h1, .body-banner h1{
  font-size: 30px;
  letter-spacing: 3px;
  color: #030303;
  position: relative;
  padding: 3px;
  margin-bottom: 3%;
  text-align: center;
}

main section img{
  width: 100%;
  height: auto;
}

main article{
  width: 85%;
  height: auto;
  margin: auto;
}

main article img{
  width: 100%;
  height: auto;
}

main section hr{
  width: 5%;
  margin: auto;
}

iframe {
  max-width: calc(100vh); 
  height: calc(100vw);
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
  display: block;
  margin: auto;
}

/*ohsnap grip stuk*/
#ohsnap-grip h3{
  color: #a3a3a3;
  font-size: 1.4em;
  margin-top: -10px;
  font-family: Futura;
}

#ohsnap-grip img{
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
}

.button-div button{
  width: 100%;
  font-weight: 600;
  border-radius: 4px;
  background-color: #0a0a0a;
  letter-spacing: 2px;
  color: white;
  font-size: 13px;
  text-align: center;
  padding: 17px 45px;
  display: block;
  margin: auto;
  margin-top: 10%;
}

.button-div button:nth-of-type(2) {
  background-color: #c1c1c1;
  margin-top: 2%;
}

#ohsnap-grip h4{
  text-align: center;
  margin-top: 5%;
  font-size: 16px;
  line-height: 1.38em;
  letter-spacing: 0px;
  font-family: Work Sans;
  color: #424242;
  text-transform: none;
}

#ohsnap-grip div{
  padding: 20px;
}

#ohsnap-grip div label{
  padding-bottom: 20px;
  display: block;
}

.ohsnap-grip-button{
  padding: 25px 25px;
  box-shadow: 0px 0px 0px 1px #d6d6d6;
  margin-bottom: 15px;
  margin-right: 14px;
  border-radius: 100px;
}

.ohsnap-grip-button.selected{
  border: 1px solid black;
}

[data-button-color="white"] {background: linear-gradient(0deg, rgba(196,196,196,1) 0%, rgba(255,255,255,1) 100%);}
[data-button-color="black"] { background-color: black;}
[data-button-color="purple"] { background: linear-gradient(0deg, rgba(77,0,77,1) 0%, rgba(128,0,128,1) 100%);}
[data-button-color="cyan"] { background: linear-gradient(0deg, rgba(0,144,173,1) 0%, rgba(0,212,255,1) 100%);}
[data-button-color="grey"] { background: linear-gradient(0deg, rgba(79,79,79,1) 0%, rgba(128,128,128,1) 100%);}
[data-button-color="orange"] { background: linear-gradient(0deg, rgba(215,79,0,1) 0%, rgba(255,165,0,1) 100%);}
[data-button-color="blue"] { background: linear-gradient(0deg, rgba(0,0,140,1) 0%, rgba(0,0,255,1) 100%);}
[data-button-color="red"] { background: linear-gradient(0deg, rgba(152,0,0,1) 0%, rgba(255,0,0,1) 100%);}

/*snapstuff*/
.body-banner{
  width: 100%;
  margin: auto;
}

.body-banner img{
  margin: auto;
}

.address-icon{
  width: 12px;
  height: 16px;
}

/*Footer*/
footer {
  width: 100%;
  background-color: #101010;
  color: #fff;
  box-shadow: 0px 1px 10px #000000;
}

footer section{
  text-align: center;
}

/*******************************************/
/*Footer Details*/
/*******************************************/

footer{
  padding-top: 20px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer section{
  margin: 0;
  margin-right: 15px;
  width: 25%;
  padding: 10px;
  text-align: left;
}

footer section section h3{
  text-align: left;
}

footer section p{
  text-align: left;
  color: #808080;
}

footer section p a{
  color: #808080;
  text-decoration: none;
}

footer section p a:hover{
  color: #E30B17;
  text-decoration: none;
}

footer form{
  margin: 0;
  margin-right: 15px;
  width: 25%;
  padding: 10px;
  text-align: left;
}

footer form input[type=text], textarea { /*opmaak van alle text inputs en textarea*/
  width: 100%;
  color: #616569;
  padding: 6px;
  background-color: #DFDFDF;
  border-style: none;
  border-radius: 3px; /*lichtelijke rondingen*/
  margin-top: 2px;
  margin-bottom: 8px;
}
footer form input[type=submit] { /*de submit button opmaak*/
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer; /*de cursor aanpassen als je er overheen gaat*/
}

footer form input[type=submit]:hover{ /*over de button hoveren*/
  background-color: #E30B17;
  /*transition: .2s;*/
}

/* Media Queries to ensure every page is responsive on all phones */
/* Media Querie: Screens like Iphone X and other bigger phones */
@media only screen and (min-width: 360px) and (max-width: 500px) and (min-height: 640px) and (max-height: 830px) {

  footer section{
    width: 75%;
  }

  footer section p{
    width: 90%;
  }

  footer form{
    width: 75%;
  }

}
/* Media Querie: Screens like Iphone 5 and other smaller phones */
@media only screen and (max-width: 360px) and (max-height: 640px){

  footer section{
    width: 75%;
  }

  footer section p{
    width: 90%;
  }

  footer form{
    width: 75%;
  }

}

/* Media Querie: Make sure when in landscape the menu is not obstructing the line of sight */
@media (orientation: landscape) and (max-width: 1000px){

  footer section{
    width: 40%;
    margin-right: 15px;
  }

  footer section p{
    width: 90%;
  }

  footer form{
    width: 75%;
  }

}

/*Nightmode overrules all*/

.nightmode{
  background-color: black !important;
  stroke: #fff !important;
}

.nightmode-text{
  color: white !important;
}

.nightmode-button{
  background-color: #e9b9b9 !important;
}

.nav-drawer.nightmode .nav-drawer-bar,
.nav-drawer.nightmode .nav-drawer-bar::after,
.nav-drawer.nightmode .nav-drawer-bar::before{
  background: white;
}

.nav-drawer.expanded .nav-drawer-bar.nightmode-text {
  background: transparent;
}

.nightmode-svg{
  filter: brightness(0) invert(1);
}